body {
font-family: Arial, sans-serif;
font-size: 1em;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 200px;
  display: flex;
  flex-flow: row wrap;
}

ul li {
  font-size: .85em;
  text-decoration: none;
  display: inline;
  color: black;
}

.flex-container > header, 
.flex-container > footer { 
  flex: 1 100%; 
  background-color: #FFB4B0;
  margin: 5px auto;
  padding: 2px;
  border: 1px solid black;
  display: flex;
}

/***********
Blue Box
***********/
.main {
  flex-grow: 1;
  background-color: #4DD7FA;
  border: 2px solid black;
  padding: 10px 0 12px 10px;
  display: inline-block;
}

form {
  margin: 5px;
  padding: 5px;
  font-size: .90em;
}

label {
  display: block;
  margin: 2px 0 2px 0;
  padding: 5px;
}

tr {
  align: center;

}

td {
  font-size: .90em;
  width: 50%;
}

.select-box {
  border: 2px solid black;
  font-size: .85em;
  width: 80%;
}

.button {
  font-size: 1em;
  padding: 3px;
  border: 2px solid black;
  background-color: white;
  border-radius: 6px;
  min-width: 80%;
}

.empty { 
  width: 7px;
  display: inline-block;
}

.sidebar__right { 
  flex-grow: 3; 
  background-color: #FEFAC0;
  padding: 10px;
  border: 2px solid black;
  color: #785616;
  display: inline-block;
}


h2 {
  margin-left: 1.5em;
}

.flex-item {  
  padding: 10px;
  width: 100px;
  border: 3px solid rgba(0,0,0,.2);
  text-align: left;
}